body{
    margin:0;
    padding:0;
    background: rgb(240,240,240);
    font-family: 'Rubik', sans-serif;
}

#nav{
    background:dodgerblue;
    width:200px;
    min-height:100vh;
    position:fixed;
    left:0;
    top:0;
    color:white;
}
#nav img{
    display:block;
    margin:auto;
    width: 80%;
    height: auto;
}
#wrapper{
    width:calc(100vw - 300px);
    margin-left:300px;
    min-height: 100vh;
}

#productInfo{
    width:100%;
    margin:20px;
}

#contact, #hours{
    padding: 10px;
}

#contact{
    position: absolute;
    top: 40%;
}

#hours{
    position:absolute;
    bottom:0;
}

.product{
    display:inline-block;
    position:relative;
    margin:20px;
    margin-top:0;
    width:150px;
    height:200px;
    background:rgb(230,230,230);
    text-align: center;
}

.product img{
    width:70%;
    height:80%;
    object-fit: contain;
}

.productDescription{
    z-index: 999;
    position:absolute;
    width:100px;
    height:75px;
    background:rgba(0,0,0, 0);
    color:rgba(0,0,0, 0);
    transition:ease 0.3s;
}

.product:hover .productDescription{
    background:rgba(0,0,0, 0.80);
    color:white;
}